# Web
apps/web/dist
apps/web/app.config.timestamp*
apps/web/.vinxi
apps/web/.output
apps/web/dist
apps/web/.tanstack
.nitro

# Common
node_modules
.wrangler
*.env
.DS_Store
.cursor
.dev.vars
.vscode

# Playwright
playwright-report/
test-results/
.playwright/
